{#
 # Site Footer include template
 # --------------------------------
 #
 # This template is used to output HTML for the site footer.
 #
 # An `entry` variable is expected to be defined.
-#}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block footer %}
  {% cache %}
  {% minify %}

  <footer class="c-footer">
    {% if footer.description is defined %}
      <div class="c-footer__prefooter l-ctnr">
        <h4 class="l-w100">{{ footer.description }}</h4>
      </div>
    {% endif %}

    <small class="c-footer__legal l-w100">© {{ "now" | date("Y") }} <a href="https://connorbaer.co">Connor Bär</a>. {{ "All rights reserved." | translate }} <a href="/disclaimer">Disclaimer</a></small>
  </footer>

  {% endminify %}
  {% endcache %}
{% endblock %}
