{#
 # Site Footer include template
 # --------------------------------
 #
 # This template is used to output HTML for the site footer.
 #
 # An `entry` variable is expected to be defined.
-#}


{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block footer %}
  {% cache %}
  {% minify %}

  <footer id="footer" class="footer">
    <div class="footer-links w100 cf">
      <div class="footer-logo w1 mv2 fl-left">

        {% include '_includes/name' %}

      </div>
      <div class="footer-navigation mv2 fl-left">

        {{ elements.navigation(navigation) }}

      </div>
      <div class="footer-social mv2 fl-right">

        {{ elements.social() }}

      </div>
    </div>
    <div class="footer-legal cf">
      <div class="w100">
        <h6 class="footer-copyright w2 mv1 fl-right ts-app">© {{ "now" | date("Y") }} {{ globals.siteAuthor.first().name }}. All rights reserved.</h6>
      </div>
    </div>
  </footer>
  {% endminify %}
  {% endcache %}
{% endblock %}
