{#
 # Macro Helpers
 # -------------
 #
 # Truncate
 # Strip Tags
 # Has Error
 # Error List
-#}


{# Truncate #}

{% macro truncate(input, limit = 155, delimiter = '…') %}
{% spaceless %}
	{% if input | length < limit %}
		{{ input | striptags }}
	{% else %}
		{% set text = input | striptags | slice(0, limit) %}
		{% set words = text | split(' ') %}
		{% set number = words | length %}
		{% set result = words | slice(0, number - 1) | join(' ') %}

    {{ result ~ delimiter}}
	{% endif %}
{% endspaceless %}
{% endmacro %}


{# Strip Tags #}

{% macro striptags(input) %}
	{{ input | striptags('<a><br><strong><em>') | raw }}
{% endmacro %}


{# Has Error #}

{% macro hasError(context, field) %}
	{% if submission is defined %}
		{% set errors = submission.getErrors(field) %}

		{% if errors %}c-input--error{% endif %}
	{% endif %}
{% endmacro %}


{# Error List #}

{% macro errorList(context, field) %}
	{% if submission is defined %}
		{% set errors = submission.getErrors(field) %}

		{% if errors %}
			<span class="c-input__error">
				{% for error in errors %}
					{{ error }}<br>
				{% endfor %}
			</span>
		{% endif %}
	{% endif %}
{% endmacro %}
