{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "lodash",
    [
      "emotion",
      {
        "autoLabel": true,
        "hoist": true,
        "sourceMap": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "server": "./server"
        }
      }
    ]
  ]
}
