---
layout: default
lang: en
ref: index
---

<article class="content page">
  <header class="header">
    <h1 class="header-title">{{ site.description }}</h1>
    {% include core/share.html %}
    {% if page.image %}
      <div class="header-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.ref }}-large.jpg') 2x )"></div>
    {% endif %}
  </header>

  <div class="content-style">
    <div class="section-search form-group full">
      <input class="form-input" type="search" name="js-search" id="js-search" placeholder="Filter the blogs..." autocomplete="off" required>
      <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
      </svg>
      <span class="form-highlight"></span>
      <span class="form-underline"></span>
      <p class="section-hint">Enter a country, language, year or name in the field above to filter the blogs.</p>
    </div>

    {% assign colleges = site.data | sort: college[0] %}
    {% for college in colleges %}
    <section class="section js-college">
      <h1 class="section-title">{{ college[0] | replace: '_', ' ' }}</h1>
      <p class="section-body">
        {% assign years = college[1] | sort: year[0] %}
        {% for year in years reversed %}
        <span class="js-list" id="{{ college[0] }}-{{ year[0] }}"><span class="section-year js-year">{{ year[0] }}</span>
          <span class="list js-years">
          {% assign blogs = year[1] | sort: 'firstname' %}
          {% for blog in blogs  %}
            <span data-year="{{ blog.year }}" class="section-blog">
              <span class="name"><a href="http://{{ blog.link }}" target="_blank" rel="noopener noreferrer" class="link">{{ blog.firstname }}</a></span> | <span class="country">{{ blog.country }}</span>{% if blog.country and blog.language %} - {% endif %}<span class="language">{{ blog.language }}</span></span>
          {% endfor %}
          </span>
        </span>
        {% endfor %}
      </p>
    </section>
    {% endfor %}
    {% include core/share.html %}
  </div>
</article>
