// ==== TYPOGRAPHY ==== //

// Define all global font styles here.

// 1. Variables
// 2. font()

// 1. Variables //

// Sans-serif
$sans: "freight-sans-pro", "FreightSans Pro", "PT Sans", Arial, sans-serif;
$sans-normal: 500;
$sans-semibold: 600;
$sans-bold: 700;

// Serif
$serif: "freight-text-pro", "FreightText Pro", "Times New Roman", Times, serif;
$serif-normal: 500;
$serif-semibold: 700;
$serif-bold: 900;

// Mono
$code: "Courier New", Courier, monospace;

// Font-sizes
$typi: (null: (14px, 2), x-small: 16px, medium: 18px, x-large: 21px);

$fs-6: 6rem;
$fs-5: 5rem;
$fs-4: 3rem;
$fs-3: 2.25rem;
$fs-2: 1.5rem;
$fs-1: 1.25rem;
$fs-0: 1rem;
$fs--1: .875rem;


// 2. underline() //

@mixin underline($bg-color: white, $bg-shade: base, $txt-color: $primary) {
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%;
  background-size: .05em 1px, .05em 1px, 1px 1px;
  color: palette($txt-color);

  &:hover,
  &:focus {
    background-image: linear-gradient(palette($bg-color, $bg-shade), palette($bg-color, $bg-shade)), linear-gradient(palette($bg-color, $bg-shade), palette($bg-color, $bg-shade)), linear-gradient(palette($txt-color), palette($txt-color));
    text-shadow: .03em 0 palette($bg-color, $bg-shade), -.03em 0 palette($bg-color, $bg-shade), 0 .03em palette($bg-color, $bg-shade), 0 -.03em palette($bg-color, $bg-shade), .06em 0 palette($bg-color, $bg-shade), -.06em 0 palette($bg-color, $bg-shade), .09em 0 palette($bg-color, $bg-shade), -.09em 0 palette($bg-color, $bg-shade), .12em 0 palette($bg-color, $bg-shade), -.12em 0 palette($bg-color, $bg-shade), .15em 0 palette($bg-color, $bg-shade), -.15em 0 palette($bg-color, $bg-shade);

    &::selection {
      text-shadow: .03em 0 palette($primary, lighter), -.03em 0 palette($primary, lighter), 0 .03em palette($primary, lighter), 0 -.03em palette($primary, lighter), .06em 0 palette($primary, lighter), -.06em 0 palette($primary, lighter), .09em 0 palette($primary, lighter), -.09em 0 palette($primary, lighter), .12em 0 palette($primary, lighter), -.12em 0 palette($primary, lighter), .15em 0 palette($primary, lighter), -.15em 0 palette($primary, lighter);
    }

    &::before,
    &::after,
    *,
    *::before,
    *::after {
      text-shadow: none;
    }
  }
}

// 3. font() //

// The font() function accepts a style parameter.
// It is intended to promote consistency in the typography,
// therefore the number of styles should be kept to a minimum.
// Attributes which change between instances should not be defined here (e.g. color).

@mixin font($style: null) {
  a {
    @include underline();
  }

  @if $style == null {
    @warn "Mixin font() received no input! Please provide a style.";

    color: red;
    font-size: $fs-6;
  }
  @else if $style == "title" {
    font-size: $fs-3;
    font-weight: $sans-bold;
    line-height: 1.4;

    a {
      background-size: .05em 2px, .05em 2px, 2px 2px;
    }

    .serif & {
      font-weight: $serif-bold;
    }
  }
  @else if $style == "header1" {
    margin-top: .1rem;
    margin-bottom: .5rem;
    clear: right;
    font-size: $fs-2;
    font-weight: $sans-bold;
    line-height: 1.25;

    &::after {
      display: block;
      width: 2em;
      height: 0.16em;
      margin-top: .5rem;
      border-radius: 0.08em;
      background-color: palette($primary);
      content: "";
    }

    .serif & {
      font-weight: $serif-bold;
    }
  }
  @else if $style == "header2" {
    display: inline;
    margin-top: .5rem;
    margin-bottom: .25rem;
    color: palette(gray, dark);
    font-size: $fs-1;
    font-weight: $sans-bold;
    line-height: 1.25;

    a {
      background-size: .05em 2px, .05em 2px, 2px 2px;
    }

    .serif & {
      font-weight: $serif-bold;
    }
  }
  @else if $style == "header3" {
    display: inline;
    margin-top: .5rem;
    margin-bottom: .25rem;
    color: palette(gray, dark);
    font-size: $fs-1;
    font-weight: $sans-bold;
    line-height: 1.25;

    .serif & {
      font-weight: $serif-bold;
    }
  }
  @else if $style == "body" {
    a {
      font-weight: $sans-semibold;
    }

    .serif & a {
      font-weight: $serif-semibold;
    }
  }
  @else if $style == "quote" {
    color: palette(gray, dark);
    font-size: $fs-4;
    line-height: 1.4;

    a {
      background-size: .05em 2px, .05em 2px, 2px 2px;
      font-weight: $sans-bold;
    }

    .serif & a {
      font-weight: $serif-bold;
    }
  }
  @else if $style == "app" {
    color: palette(gray);
    font-family: $sans;
    font-size: $fs--1;
    letter-spacing: 0.25px;
    line-height: 1.5;
  }
  @else {
    @warn "Mixin font() received invalid input! This style does not exist.";

    color: red;
    font-size: $fs-6;
  }
}
