// Blocks
// ------
.c-blocks {
  margin-bottom: vr(2);

  img {
    background-color: var(--oc-gray-1);
  }
}

.c-blocks__title {
  @include typi("t1");

  font-weight: $fw-light;
  line-height: $lh-large;

  .c-blocks--serif & {
    font-family: $ff-serif;
  }
}


// Text
// ----
.c-block__text {
  > h1 {
    @include typi("t3");

    margin-top: vr(2);
    margin-bottom: vr(1);

    font-weight: $fw-bold;
  }

  > h2 {
    @include typi("t2");

    margin-top: vr(1);
    margin-bottom: vr(.5);

    font-weight: $fw-bold;
  }

  > h3 {
    @include typi("t2");

    margin-top: vr(1);
    margin-bottom: vr(.5);
  }

  > h4 {
    @include typi("t1");

    margin-top: vr(1);
    margin-bottom: vr(.5);

    font-weight: $fw-bold;
  }

  > h5 {
    @include typi("t1");

    margin-top: vr(1);
    margin-bottom: vr(1);
  }

  > h6 {
    @include typi("s1");
    @include t-uppercase;

    color: var(--oc-gray-6);
  }

  > h6,
  > p,
  > blockquote {
    margin-top: vr(.25);
    margin-bottom: vr(.5);
  }

  > p {
    @include typi("s0");
  }

  a {
    @include t-link;

    transition: box-shadow $an-short;

    color: oc(primary);

    font-weight: $fw-bold;

    &.anchor {
      @include t-link;

      color: oc(primary, 2);

      font-weight: inherit;
    }

    &:hover,
    &:focus {
      box-shadow: inset 0 -.08em 0 0 oc(primary);
    }
  }

  ul,
  ol {
    @include typi("s0");

    padding-left: vr(1);
  }

  > ol,
  > ul {
    margin-top: vr(.5);
    margin-bottom: vr(.5);
    padding-left: vr(1);
  }

  li > ol,
  li > ul {
    padding-bottom: 0;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  li {
    margin-bottom: vr(.25);
  }

  blockquote {
    @include typi("s0");

    padding-left: vr(1);

    border-left: 4px solid oc(primary, 2);

    color: var(--oc-gray-6);

    cite {
      display: block;
    }
  }

  .c-blocks--serif & {
    > p,
    ul,
    ol,
    blockquote {
      font-family: $ff-serif;
    }
  }
}
