// Footer
// ------
.c-footer {
  background-color: var(--oc-gray-0);
}


// Prefooter
// ---------
.c-footer__prefooter {
  padding-top: vr(2);
  padding-bottom: vr(2);

  text-align: center;

  strong {
    font-weight: $fw-bold;
  }

  em {
    @include typi("t3");

    font-style: normal;
    font-weight: $fw-light;
  }

  a {
    @include t-link;

    color: oc(primary);
  }
}


// Legal
// -----
.c-footer__legal {
  @include typi("s1");

  display: block;

  margin: 0;
  padding-top: vr(.5);
  padding-bottom: vr(.5);

  border-top: 1px solid var(--oc-gray-3);

  color: var(--oc-gray-4);

  font-weight: 300;
  letter-spacing: .5px;
  text-align: center;

  span {
    display: inline-block;

    padding: 0 .5em;
  }

  a {
    transition: color $an-short;

    text-decoration: underline;

    &:hover,
    &:focus {
      color: oc(primary);
    }
  }
}
