// Header
// ------
.c-header {
  @include mappy-bp(medium) {
    > * {
      display: inline;
    }
  }

  max-width: $l-ctnr / 4 * 3;

  margin-top: vr(4);
  margin-bottom: vr(4);
}

.c-header__title {
  @include typi("t3");

  font-weight: $fw-bold;
}

.c-header__title--color {
  color: oc(primary);
}

.c-header__subtitle {
  @include mappy-bp(max-width medium) {
    @include typi("t2");

    margin-top: vr(.5);
  }
  @include typi("t3");

  color: var(--oc-gray-8);

  font-weight: $fw-light;
}

.c-header__meta {
  @include typi("s1");

  display: block;

  margin-top: vr(.5);

  color: var(--oc-gray-6);
}

.c-header__image {
  @include mappy-bp(750px) {
    display: block;
    position: fixed;
    top: 0;
    right: 0;

    width: 50vw;
    height: 100vh;

    img,
    svg {
      height: 100%;

      font-family: "object-fit: cover";

      object-fit: cover;
    }
  }

  display: none;
}
