// Metabar
// -------
.c-metabar {
  @include mappy-bp(medium) {
    position: fixed;

    will-change: transform;

    .headroom--not-top & {
      padding: vr(.5) vr(1);

      box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    }

    .headroom--pinned {
      transform: translateY(0%);
    }

    .headroom--unpinned & {
      transform: translateY(-100%);
    }
  }

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  align-items: center;

  max-width: 100vw;

  padding: vr(1);

  transition: box-shadow $an-short, background-color $an-short, padding $an-short, transform $an-medium;

  background-color: var(--oc-white);

  z-index: 999;
}


// Brand
// -----
.c-metabar__brand {
  @include mappy-bp(max-width medium) {
    order: 1;
  }
}

.c-logo {
  display: inline-block;

  height: 2rem;
  min-height: 36px;

  margin-right: vr(.5);

  transition: transform $an-short;

  vertical-align: middle;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.c-metabar__name {
  @include typi("t1");

  display: inline-block;

  transition: color $an-short;

  color: var(--oc-gray-9);

  font-family: $ff-sans;
  font-weight: $fw-bold;
  line-height: 1;

  vertical-align: middle;

  &:hover,
  &:focus {
    color: oc(primary);
  }
}


// Navigation
// ----------
.c-metabar__nav {
  @include mappy-bp(max-width medium) {
    order: 3;

    width: 100%;

    padding-top: vr(1);
  }
}

.c-metabar__navList {
  display: inline-flex;

  justify-content: space-around;

  width: 100%;
}

.c-metabar__navLink {
  @include typi("s1");
  @include t-uppercase;

  display: inline-block;

  padding-right: vr(1);
  padding-left: vr(1);

  transition: background-color $an-medium, color $an-medium;

  color: var(--oc-gray-6);

  .is-active {
    color: var(--oc-gray-8);
  }
}


// Call To Action
// --------------
.c-metabar__cta {
  @include mappy-bp(max-width medium) {
    order: 2;
  }
}

.c-metabar__darkMode {
  display: inline-block;

  padding-right: vr(.5);

  transition: fill $an-medium;

  border: 0;
  outline: none;

  background-color: transparent;

  cursor: pointer;
  vertical-align: middle;
  z-index: 999;

  fill: var(--oc-gray-6);

  &:hover {
    fill: oc(primary);
  }
}
