{#
 # Submissions template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}


{% block styles %}
  {{ parent() }}

  <link rel="stylesheet" type="text/css" href="{{ baseUrl ~ rev('css/choices.min.css') }}">
{% endblock %}


{% block head %}
  {{ parent() }}

  {# Choices #}
  <script>
    loadjs(['{{ baseUrl ~ rev('js/choices.min.js') }}'], 'choices');
    loadjs.ready('choices', {
      success: function() {
        const choicesOptions = {
          maxItemCount: 3,
          duplicateItems: false,
          itemSelectText: 'Press Enter to select',
        };

        const countries = new Choices('#countries', choicesOptions);
        const languages = new Choices('#languages', choicesOptions);
        const colleges = new Choices('#college', {
          maxItemCount: 1,
        });
      }
    });
  </script>
{% endblock %}


{% block main %}
  {% cache %}
  {% minify %}

  <article class="l-ctnr">

    {# -- HEADER -- #}
    <header class="c-header l-w100">
      <h1 class="c-header__title c-header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
      <h2 class="c-header__subtitle">{{ entry.description | striptags() }}</h2>

      {% set image = entry.image.one() %}
      {% if image %}
        <figure class="c-header__image">
          {{ elements.image(image) }}
        </figure>
      {% endif %}

    </header>

    <div class="l-w100">
      <form class="c-form" method="post" action="https://formspree.io/connor@uwcblogs.com" accept-charset="UTF-8">
        <div class="section-inputs">
          <input type="hidden" name="_next" value="/success" />
          <input type="hidden" name="_subject" value="New blog submission!" />
          <input type="text" name="_gotcha" style="display:none" />

          <fieldset class="c-input {{ helpers.hasError(_context, 'blogFirstName') }}">
            <label class="c-input__label" for="firstName">What's your first name?</label>
            <input id="firstName" type="text" name="fields[blogFirstName]" class="c-input__input" placeholder="Jane" required>
            <span class="c-input__highlight"></span>
            {{ helpers.errorList(_context, 'blogFirstName') }}
          </fieldset>

          <fieldset class="c-input {{ helpers.hasError(_context, 'blogEmailAddress') }}">
            <label class="c-input__label" for="email">What’s your email address?</label>
            <input id="email" type="email" name="fields[blogEmail]" class="c-input__input" placeholder="jane@example.com" required>
            <span class="c-input__highlight"></span>
            {{ helpers.errorList(_context, 'blogEmailAddress') }}
          </fieldset>

          <fieldset class="c-input {{ helpers.hasError(_context, 'blogCountries') }}">
            <label class="c-input__label" for="countries">Which country are you from?</label>
            <select id="countries" name="fields[blogCountries][]" class="c-input__control" placeholder="Add a country..." multiple required>
              {% for country in craft.tags.group('blogCountries') %}
              <option value="{{ country.id }}">{{ country.title }}</option>
              {% endfor %}
            </select>
            {{ helpers.errorList(_context, 'blogCountries') }}
          </fieldset>

          <fieldset class="c-input {{ helpers.hasError(_context, 'blogLanguages') }}">
            <label class="c-input__label" for="languages">Which language do you write in?</label>
            <select id="languages" name="fields[blogLanguages][]" class="c-input__control" placeholder="Add a language..." multiple required>
              {% for language in craft.tags.group('blogLanguages') %}
              <option value="{{ language.id }}">{{ language.title }}</option>
              {% endfor %}
            </select>
            {{ helpers.errorList(_context, 'blogLanguages') }}
          </fieldset>

          <fieldset class="mc-field-group c-input {{ helpers.hasError(_context, 'blogLink') }}">
            <label class="c-input__label" for="link">What's the link to your blog?</label>
            <input id="link" type="url" name="fields[blogLink]" class="c-input__input" placeholder="https://example.com/blog" required> <span class="c-input__highlight"></span>
            {{ helpers.errorList(_context, 'blogLink') }}
          </fieldset>

          <fieldset class="c-input {{ helpers.hasError(_context, 'blogCollege') }}">
            <label class="c-input__label" for="college">Which UWC do/did you attend?</label>
            <select id="college" name="fields[blogCollege][]" class="c-input__control" placeholder="Which UWC do/did you attend?" required>
              <option value="" selected disabled>Select a college...</option>
              {% for college in craft.categories.group('colleges') %}
              <option value="{{ college.id }}">{{ college.title }}</option>
              {% endfor %}
            </select>
            {{ helpers.errorList(_context, 'blogCollege') }}
          </fieldset>

          <fieldset class="c-input {{ helpers.hasError(_context, 'blogYear') }}">
            <label class="c-input__label" for="year">When will/did you finish UWC?</label>
            <input id="year" type="number" name="fields[blogYear]" class="c-input__input" min="1960" max="{{ now | date_modify("+3 years") | date("Y") }}" step="1" placeholder="{{ now | date("Y") }}" required>
            <span class="c-input__highlight"></span>
            {{ helpers.errorList(_context, 'blogYear') }}
          </fieldset>

          <input type="submit" value="Submit →" class="o-button c-blog__submit">
        </div>
      </form>
    </div>
  </article>

  {% endminify %}
  {% endcache %}
{% endblock %}
