label {
	display: block;
	margin-top: 1.25em;
}

input, textarea {
	padding: 0.5rem 1rem;
	border: 1px solid $gray-1;
	background-color: #fff;
  	font-family: $serif;
  	font-size: 1.0625rem;
  	font-weight: $serif-normal;
	line-height: 1.5em;
	outline: none;
	margin: 0.3em 0;
	width: 100%;
	text-align: left;
	width: 100%;
	resize: none;
	transition: border 0.15s ease-in-out, box-shadow 0.1s ease-out;
	&:focus,
	&:active,
	&:hover {
		border: 1px solid $primary-4;
	}
	&:focus,
	&:active {
		box-shadow: 0px 0px 5px 1px $primary-1;
	}
}

textarea {
	resize: vertical;
}

input[type="submit"].button, 
button.button {
	display: block;
	outline: none;
	font-size: .825rem;
	font-family: $sans;
	font-weight: $sans-bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.12rem;
	padding: .4rem .9rem;
	margin-top: 1rem;
	border: 2px solid $secondary-7;
	color: $secondary-7;
	background-color: #fff;
	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	&:hover,
	&:focus,
	&:active {
		color: #fff;
		background-color: $secondary-7;
		cursor: pointer;
	}
}

@media (min-width: $phone) {
	input, textarea {
	  	font-size: 1.375rem;
	}

	input[type="submit"].button, 
	button.button {
		font-size: 1.125rem;
		border: 3px solid $secondary-7;
	}
}