.header {
	background-color: #fff;
	height: 100vh;
	width: 100%;
	background: 50% 50% / cover;
}

.header-large {
	display: block;
	width: 32rem;
	max-width: 80%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 50%;
    transform: translateY(-50%);
}

.header-text {
	font-size: 3.5rem;
	font-family: $sans;
    font-weight: $sans-bold;
}

@media (max-width: $phone) {
	.header {
		background-position: 20% 50%;
	}
}