.body-wrapper {
	min-height: 100vh;
	width: 100vw;
	max-width: 90rem;
	margin: 0 auto;
	overflow: hidden;
}

.ctnr-wide, .ctnr-golden {
	width: 100%;
	max-width: 85rem;
	padding-right: 2rem;
	padding-left: 2rem;
	margin: 0 auto;
}

@media (min-width: $phone) {
	.ctnr-wide {
		padding-right: 4rem;
		padding-left: 4rem;
	}

	.ctnr-golden {
		width: 61.8%;
		padding: 0;
		max-width: 50rem;
	}
}