.nav-large {
	display: none;
}

.nav-small {
	display: block;
	position: absolute;
	left: 1.75rem;
	height: 21px;
	bottom: 9rem;
	transform: rotate(90deg);
	transform-origin: left bottom;
}

.nav-link {
	font-family: $sans;
	font-weight: $sans-bold;
	font-size: 1.125rem;
	text-transform: lowercase;
	position: relative;
	letter-spacing: .075rem;
	color: $navigation-color;
	transition: color .12s ease-out;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: 0;
		left: 0;
		z-index: -1;
		background-color: $navigation-color;
		visibility: hidden;
		transform: translate(0px,5px);
		opacity: 0;
		backface-visibility: hidden;
		transition: all .15s ease-in-out;
	}
	&:hover:before,
	&:focus:before {
		visibility: visible;
		opacity: 1;
		transform: translate(0px,2px);
	}
}

@media (min-width: $phone) {
	.nav-small {
		display: none;
	}
	.nav-large {
		position: fixed;
		bottom: 0;
		left: 0;
		padding: 2rem 0;
		display: block;
		margin: 0 auto;
		list-style: none;
		text-align: center;
		width: 100vw;
	}
	.nav-item {
		margin: 0 1.5rem;
		padding: 0;
		display: inline-block;
		color: $navigation-color;
	}
	.headroom .nav-large {
		z-index: 9999;
		transition: transform 0.25s ease-in-out, padding 0.25s ease-in-out, background-color 0.25s ease-in-out;
	}

	.headroom--not-top .nav-large {
		background-color: rgba(255, 255, 255, 0.9);
		padding: 1rem 0;
	}

	.headroom--not-top .nav-link {
		color: $gray-6;
	}

	.headroom--pinned .nav-large {
		transform: translateY(0%);
	}

	.headroom--unpinned .nav-large {
		transform: translateY(100%);
	}
}