.section {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

.section-beta {
	letter-spacing: 0.05rem;
	display: inline-block;
}

.section-search {
	border: 1px solid $primary-4;
	margin-bottom: 2.5rem;
}

.section-blogs {
	margin-bottom: 5rem;
}

.section-button {
	margin-top: 1.5rem;
}

@media (min-width: $phone) {
	.section {
		margin-top: 6rem;
		margin-bottom: 6rem
	}
}

@media (min-width: $tablet) {
	.section-columns {
		columns: 2;
	}
}