.social {
	padding: 1.5rem 1.75rem;
	width: 100%;
	max-width: 90rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999;
	margin: 0 auto;
	background-color: transparent;
}

.social-logo {
	float: left;
}

.social-links {
	float: right;
}

.social-icon {
	padding: 0.6rem;
	margin-left: 1.5rem;
}

.social-print, .social-icon {
	width: 2.5rem;
	height: 2.5rem;
	transition: all 0.15s ease-in-out;
	fill: $navigation-color;
	&:hover, &:focus {
	    transform: scale(1.25);
	}
}

.headroom .social {
  	position: fixed;
  	transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.headroom--not-top .social {
  	padding: 0.75rem 1.75rem;
  	background-color: rgba(255, 255, 255, 0.9);
}

.headroom--not-top .social-print,
.headroom--not-top .social-icon {
	fill: $gray-6;
}

.headroom--pinned .social, .headroom--unpinned.headroom--bottom .social {
  	transform: translateY(0%);
}

.headroom--unpinned .social {
  	transform: translateY(-100%);
}