/**
 * Best practice from http://callmenick.com/post/the-new-box-sizing-reset
 * TLDR: It’s easier to override and a slight performance boost.
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  color: var(--color-default);
  background: var(--background-default);
  transition: background var(--transition-micro);
  margin: 0;
}

/**
 * Form elements don't inherit font settings.
 * https://stackoverflow.com/questions/26140050/why-is-font-family-not-inherited-in-button-tags-automatically
 */
body,
button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-family-sans);
  font-size: 100%;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-decoration-skip-ink: auto;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* TODO: Add typography and form field classes */

a {
  color: var(--color-primary);
  text-underline-position: under;
  text-decoration-color: var(--color-border);
}

a:hover,
a:focus-visible {
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.125em;
}

.action {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--background-subtle);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
  padding: 12px 16px;
  text-align: center;
  border: none;
  border-radius: 12px;
  transition:
    color var(--transition-micro),
    background-color var(--transition-micro);
  cursor: pointer;
}

.action:hover {
  color: white;
  background-color: var(--color-primary);
}

.action[target="_blank"]::after {
  content: '↗';
  display: inline;
  font-family: var(--font-family-system);
  color: currentColor;
}
