/**
 * Best practice from http://callmenick.com/post/the-new-box-sizing-reset
 * TLDR: It’s easier to override and a slight performance boost.
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  color: var(--color-default);
  background: var(--background-default);
  transition: background var(--transition-micro);
  margin: 0;
}

/**
 * Form elements don't inherit font settings.
 * https://stackoverflow.com/questions/26140050/why-is-font-family-not-inherited-in-button-tags-automatically
 */
body,
button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-family-sans);
  font-size: 100%;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-decoration-skip-ink: auto;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--color-primary);
  text-underline-position: under;
  text-decoration-color: var(--color-border);
}

a:hover,
a:focus-visible {
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.125em;
}

.action {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--background-subtle);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
  padding: 12px 16px;
  text-align: center;
  border: none;
  border-radius: 12px;
  transition:
    color var(--transition-micro),
    background-color var(--transition-micro);
  cursor: pointer;
}

.action:hover {
  color: white;
  background-color: var(--color-primary);
}

.action[target='_blank']::after {
  content: '↗';
  display: inline;
  font-family: var(--font-family-system);
  color: currentColor;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: var(--font-size-s);
}

input,
select {
  width: 100%;
  padding: 12px 16px;
  outline: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  border: none;
  transition: outline var(--transition-micro);
  background-color: var(--background-default);
  font-size: var(--font-size-m);
  line-height: var(--line-height-s);
}

input[type='number'] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  appearance: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICA8cGF0aCBmaWxsPSJncmF5IiBkPSJNMTAsMjMyLjdsNDkwLDUzNC41bDQ5MC01MzQuNUgxMHoiIC8+DQo8L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: center right 16px;
  background-size: 0.75em;
}

input:hover,
select:hover {
  outline: 1px solid var(--color-default);
}

input:focus,
select:focus {
  outline: 2px solid var(--color-primary);
}

input:user-invalid,
select:user-invalid {
  outline: 2px solid var(--color-danger);
}

.field-error {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: var(--font-size-s);
  color: var(--color-danger);
}
