@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Merriweather Sans Light'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-300.woff2') format('woff2'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Sans'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-regular.woff2') format('woff2'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Merriweather Sans Bold'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-800.woff2') format('woff2'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-800.woff') format('woff');
}

:root {
  color-scheme: light;

  /* Font families */
  --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-family-sans: 'Merriweather Sans', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 800;

  /* Font sizes */
  --font-size-s: 0.875rem;
  /* 14px */
  --font-size-m: 1.125rem;
  /* 18px */
  --font-size-l: 1.5rem;
  /* 24px */
  --font-size-xl: 2rem;
  /* 32px */
  --font-size-xxl: 2.625rem;
  /* 42px */

  /* Line heights */
  --line-height-s: 1.2;
  --line-height-m: 1.6;
  --line-height-l: 2;

  /* Spacings */
  --spacing-xxs: 0.25rem;
  /* 4px */
  --spacing-xs: 0.5rem;
  /* 8px */
  --spacing-s: 0.75rem;
  /* 12px */
  --spacing-m: 1rem;
  /* 16px */
  --spacing-l: 1.5rem;
  /* 24px */
  --spacing-xl: 2rem;
  /* 32px */
  --spacing-xxl: 2.5rem;
  /* 48px */
  --spacing-xxxl: 4rem;
  /* 54px */
  --spacing-gutter: 1rem;
  /* 16px */

  --width-max: 90rem;
  /* 1440px */
  --width-page: 50rem;
  /* 800px */

  /* Border radius */
  --border-radius: 0.5rem;
  /* 8px */

  /* Colors */
  --color-input: #868e96;
  --color-input-hover: #495057;
  --color-input-focus: #495057;

  --color-border: #adb5bd;
  --color-default: #15191d;
  --background-default: #fff;
  --color-subtle: #495057;
  --background-subtle: #e9ecef;
  --color-primary: #008d83;
  --color-danger: #99123b;
  --color-success: #008d83;
  --background-image-placeholder: #dee2e6;

  /* Transitions */
  --transition-micro: 200ms cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 56.25em) {
  :root {
    --spacing-gutter: 2rem;
    /* 32px */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* Colors */
    --color-input: #adb5bd;
    --color-input-hover: #dee2e6;

    --color-border: #868e96;
    --color-default: #fff;
    --background-default: #15191d;
    --color-subtle: #dee2e6;
    --background-subtle: #212529;
    --color-primary: #00b8ab;
    --background-image-placeholder: #495057;
  }
}
