{#
 # Submissions template
 # -------------------
 #
 # This template is loaded whenever http://example.com/submissions is
 # requested, because it is located at submissions/index.html
 # in your craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}

{% set title = entry.title %}
{% set description = entry.description %}
{% if entry.image %}
  {% set image = entry.image.first() %}
{% endif %}


{% block styles %}
  {{ parent() }}

  <link rel="stylesheet" type="text/css" href="{{ siteUrl }}{{ rev('css/submit.css') }}">
{% endblock %}


{% block scripts %}
  {{ parent() }}

  <script defer src="{{ siteUrl ~ rev('js/submit.js') }}" data-turbolinks-track="reload"></script>
{% endblock %}


{% block body %}
  <article class="page">


    {% block hero %}
      <header class="hero">
        <h1 class="hero-title">{{ helpers.striptags(description) }}</h1>

        {{ elements.heroImage(image, entry.heroImage) }}

      </header>
    {% endblock %}


    <div class="content content-style">
      <aside>
        <h4>Submit Your Blog</h4>
        {{ entry.body }}
      </aside>

      <div>
        <form method="post" action="" accept-charset="UTF-8">
          <div class="section-inputs">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="guestEntries/saveEntry">
            <input type="hidden" name="redirect" value="success">
            <input type="hidden" name="sectionId" value="3">

            {% macro errorList(errors) %}
                {% if errors %}
                    <span class="form-error">
                        {% for error in errors %}
                            {{ error }}<br>
                        {% endfor %}
                    </span>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            <div class="form-group">
              {% if submission is defined %}
                {{ errorList(submission.getErrors('blogFirstName')) }}
              {% endif %}
              <input id="firstName" type="text" name="fields[blogFirstName]" class="form-input" placeholder="Jane Doe" required>
              <span class="form-highlight"></span>
              <label class="form-label" for="firstName">What's your name?</label>
            </div>

            <div class="form-group">
              {% if submission is defined %}
                {{ errorList(submission.getErrors('blogEmailAddress')) }}
              {% endif %}
              <input id="email" type="email" name="fields[blogEmail]" class="form-input" placeholder="jane@example.com" required>
              <span class="form-highlight"></span>
              <label class="form-label" for="email">What’s your email address?</label>
            </div>

            <div class="form-group">
              {% if submission is defined %}
                {{ errorList(submission.getErrors('blogCountries')) }}
              {% endif %}
              <select id="countries" name="fields[blogCountries][]" class="form-control" placeholder="Add a country..." multiple required>
                {% for country in craft.tags.group('blogCountries') %}
                <option value="{{ country.id }}">{{ country.title }}</option>
                {% endfor %}
              </select>
              <label class="form-label" for="countries">Which country are you from?</label>
            </div>

            <div class="form-group">
              {% if submission is defined %}
                {{ errorList(submission.getErrors('blogLanguages')) }}
              {% endif %}
              <select id="languages" name="fields[blogLanguages][]" class="form-control" placeholder="Add a language..." multiple required>
                {% for language in craft.tags.group('blogLanguages') %}
                <option value="{{ language.id }}">{{ language.title }}</option>
                {% endfor %}
              </select>
              <label class="form-label" for="languages">Which language do you write in?</label>
            </div>

            <div class="mc-field-group form-group">
              {% if submission is defined %}
                {{ errorList(submission.getErrors('blogLink')) }}
              {% endif %}
              <input id="link" type="url" name="fields[blogLink]" class="form-input" placeholder="https://example.com/blog" required> <span class="form-highlight"></span>
              <label class="form-label" for="link">What's the link to your blog?</label>
            </div>

            <div class="form-group">
              {% if submission is defined %}
                {{ errorList(submission.getErrors('blogCollege')) }}
              {% endif %}
              <select id="college" name="fields[blogCollege][]" class="form-control" placeholder="Which UWC do/did you attend?" required>
                <option value="" selected disabled>Select a college...</option>
                {% for college in craft.categories.group('colleges') %}
                <option value="{{ college.id }}">{{ college.title }}</option>
                {% endfor %}
              </select>
              <label class="form-label" for="college">Which UWC do/did you attend?</label>
            </div>

            <div class="form-group">
              {% if submission is defined %}
                {{ errorList(submission.getErrors('blogYear')) }}
              {% endif %}
              <input id="year" type="number" name="fields[blogYear]" class="form-input" min="1960" max="{{ now.year + 3 }}" step="1" placeholder="{{ now.year }}" required>
              <span class="form-highlight"></span>
              <label class="form-label" for="year">When will/did you finish UWC?</label>
            </div>

            <input type="submit" value="Submit your blog →" class="button">
          </div>
        </form>
      </div>
    </div>
  </article>
{% endblock %}
