// ==== HOMEPAGE ==== //

@import "dependencies/import";


// Custom styles for the homepage.

// 1. Search
// 2. Blogs


// 1. Search //

.search {
  margin-top: 4rem;

  @include mappy-query(tablet) {
    margin-top: 6rem;
  }

  input {
    padding-left: 2.5rem;
  }

  .form-highlight {
    left: 2.5rem;
  }
}


// 2. Blogs //

.college {
  @include clearfix;

  display: block;
  margin-top: 4rem;

  .college-title {
    @include ctnr(one);

    @include font(header1);

    margin-top: 1.25rem;
  }
}

.college-body {
  @include ctnr(two);

  @include font(body);

  margin: 1rem 0;
  clear: right;

  @include mappy-query(desktop-large) {
    columns: 2;
    column-gap: 2rem;

    span {
      display: block;

      span {
        display: inline-block;
      }
    }
  }
}

.college-year {
  @include font(header3);

  display: block;
  width: 100%;
  margin-top: 1rem;
}

.college-blog {
  display: block;
  width: 100%;
}
