// ==== HOMEPAGE ==== //

@import "dependencies/import";

$choices-font-size-lg: $fs-0;
$choices-font-size-md: $fs-0;
$choices-font-size-sm: $fs--1;
$choices-guttering: 1rem;
$choices-border-radius: .5rem;
$choices-border-radius-item: .5rem;
$choices-bg-color: palette(white);
$choices-bg-color-disabled: palette(gray, light);
$choices-bg-color-dropdown: palette(white);
$choices-text-color: #333;
$choices-keyline-color: palette(gray);
$choices-primary-color: palette($primary);
$choices-disabled-color: palette(gray, light);
$choices-highlight-color: $choices-primary-color;
$choices-button-dimension: .5rem;
$choices-button-offset: .5rem;

@import "dependencies/choices";


// Custom styles for the homepage.

// 1. Form
// 2. Choices


// 1. Form //

.form-group {
  padding-top: 1.5rem;
}

.form-error ~ .#{$choices-selector} .#{$choices-selector}__inner {
  border-color: palette(red);
}


// 2. Choices //

.#{$choices-selector}[data-type*="select-one"] {
  .#{$choices-selector}__inner {
    padding-top: 0;
    padding-bottom: 0;
  }

  .#{$choices-selector}__input {
    padding: .5rem .75rem;
    border-bottom: 2px solid $choices-keyline-color;
  }
}

.#{$choices-selector}[data-type*="select-multiple"], .#{$choices-selector}[data-type*="text"] {
  .#{$choices-selector}__button {
    border-left: 2px solid darken($choices-primary-color, 10%);
  }
}

.#{$choices-selector}__inner {
  min-height: 0;
  padding: .125rem .75rem 0;
  border: 2px solid $choices-keyline-color;
  font-family: $sans;

  .is-focused &,
  .is-open & {
    border-color: palette($primary);
  }
}

.#{$choices-selector}__list--single {
  padding: 0 16px 0 0;
}

.#{$choices-selector}__list--multiple {
  .#{$choices-selector}__item {
    margin-right: .25rem;
    margin-bottom: .25rem;
    padding: 0 .5rem;
    border: 2px solid palette(gray, light);
    background-color: palette(gray, lighter);
    color: palette(gray, darker);

    &.is-highlighted {
      border: 2px solid palette($primary);
      background-color: palette(gray, lighter);
    }

    .is-disabled & {
      border: 2px solid darken($choices-disabled-color, 35%);
    }
  }
}

.#{$choices-selector}__list--dropdown {
  margin-top: -2px;
  border: 2px solid $choices-keyline-color;

  .is-open & {
    border-color: palette($primary);
  }

  .is-flipped & {
    margin-bottom: -2px;
  }

  .#{$choices-selector}__item {
    padding: .25rem .75rem;
  }

  .#{$choices-selector}__item--selectable {
    @media (min-width: 640px) {
      padding-right: 6rem;

      &::after {
        right: .5rem;
      }
    }
  }
}

.#{$choices-selector}__heading {
  padding: .5rem;
  border-bottom: 2px solid lighten($choices-keyline-color, 10%);
}

.#{$choices-selector}__input {
  background-color: palette(white);
  font-family: $sans;
}

.is-focused ~ .form-label,
.is-open ~ .form-label {
  color: palette($primary);
}
