// ==== BASE ==== //

// Update the foundational and global aspects of the page here.

html {
  @include typi-base;

  background-color: palette(gray, darker);
  word-wrap: break-word;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  // Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/.
  box-sizing: inherit;
}

::selection {
  background: palette($primary, lighter);
}

body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-color: palette(white);
  color: palette(gray, darker);
  font-family: $sans;
  font-weight: $sans-normal;
  font-feature-settings: "lnum", "salt";
  overflow-x: hidden;
}

// Limits width on large screens and centers content.
.site {
  max-width: 100rem;
  margin: 0 auto;
}

.serif {
  font-family: $serif;
  font-weight: $serif-normal;
}

a {
  border: 0;
  color: inherit;
  text-decoration: none;
}

strong,
.strong {
  font-weight: $sans-bold;

  .serif & {
    font-weight: $serif-bold;
  }
}

dfn,
i,
em,
.em {
  font-style: italic;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: $code;
}

pre {
  max-width: 100%;
  margin: 0 0 1.75em;
  padding: 1.75em;
  border: 1px solid palette(gray, light);
  font-size: 1rem;
  line-height: 1.3125;
  white-space: pre-wrap;
  overflow: auto;
  word-wrap: break-word;
}

code {
  padding: 0.125em 0.25em;
  background-color: palette(gray, light);
}

abbr,
acronym {
  border-bottom: 1px dotted palette(gray, light);
  cursor: help;
}

mark {
  padding: 0.125em 0.25em;
  background: palette(orange, light);
  color: #fff;
  text-decoration: none;
}

big {
  font-size: 125%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  box-sizing: border-box;

  &::before {
    display: block;
    height: 2px;
    background-color: palette(gray, light);
    content: "";
  }
}

time {
  @include font(app);

  display: inline-block;
}
