// ==== FORM ==== //

// Style all form components here.

// 1. Buttons
// 2. Inputs
// 3. Labels
// 4. Highlight


// 1. Buttons //

.button {
  @include font(app);

  display: inline-block;
  margin: 1rem 0;
  padding: .25rem .75rem;
  transition: background-color $short, color $short;
  border: 3px solid palette($primary);
  border-radius: .5rem;
  outline: none;
  background-color: palette(white);
  color: palette($primary);
  font-size: $fs-0;
  font-weight: $sans-semibold;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: palette($primary);
    color: palette(white);
  }
}


// 2. Inputs //

.form-input {
  @include font(body);

  display: block;
  width: 100%;
  padding: .5rem .75rem;
  transition: border-color $short;
  border: 2px solid palette(gray);
  border-radius: .5rem;
  outline: none;
  background-color: palette(white);
  font-family: $sans;
  resize: none;

  // Active state

  &:focus {
    border-color: palette($primary);
    outline: none;

    ~ .form-icon {
      fill: palette($primary);
    }

    ~ .form-label {
      color: palette($primary);
    }
  }
}

textarea {
  resize: vertical;
}

.form-select {
  @include font(body);

  display: block;
  width: 100%;
  height: 2.25rem;
  margin: 2rem 0 .25rem;
  padding: .25rem 1rem;
  transition: border-color $short, background-color $short;
  border: 2px solid palette(gray);
  border-radius: .5rem;
  outline: none;
  background-color: palette(gray, lighter);
  color: palette(gray);

  &:focus,
  &:active {
    border-color: palette($primary);
    background-color: palette($primary, lighter);
  }

  &:valid {
    color: palette(gray, darker);
  }
}


// 3. Labels //

.form-group {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.form-icon {
  position: absolute;
  top: .6rem;
  left: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: palette(gray);
}

.form-hint {
  @include font(app);

  margin-top: 1rem;
}

.form-error {
  @include font(app);

  color: palette(red);

  + .form-input {
    border-color: palette(red);
  }
}

.form-label {
  @include font(app);

  position: absolute;
  top: 0;
}


// 4. Highlighter //

.form-highlight {
  position: absolute;
  bottom: .5rem;
  left: 1rem;
  width: 33%;
  height: 1.25rem;
  opacity: 0.25;
  pointer-events: none;
}

// Active state

.form-input:focus ~ .form-highlight {
  animation: inputHighlighter $long;
}

// Animations

@keyframes inputHighlighter {
  from {
    background: palette($primary, light);
  }

  to {
    width: 0;
    background: transparent;
  }
}
