/*
  FORM

  Buttons
  Inputs
  Labels
  Highlight
*/


// Buttons //

.button {
  display: inline-block;
  margin: $sp-small 0;
  padding: .5rem .75rem;
  transition: background-color $an-short, color $an-short;
  border: 3px solid $oc-primary-6;
  border-radius: $sp-tiny;
  outline: none;
  background-color: $oc-white;
  color: $oc-primary-6;
  font-size: $fs-normal;
  font-weight: $fw-sans-semibold;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $oc-primary-6;
    color: $oc-white;
  }
}


// Inputs //

.form-input {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  transition: border-color $an-short;
  border: 2px solid $oc-gray-6;
  border-radius: $sp-tiny;
  outline: none;
  background-color: $oc-white;
  font-family: $ff-sans;
  resize: none;

  // Active state

  &:focus {
    border-color: $oc-primary-6;
    outline: none;

    ~ .form-icon {
      fill: $oc-primary-6;
    }

    ~ .form-label {
      color: $oc-primary-6;
    }
  }
}

textarea {
  resize: vertical;
}

.form-select {
  display: block;
  width: 100%;
  height: 2.25rem;
  margin: 2rem 0 .25rem;
  padding: .25rem 1rem;
  transition: border-color $an-short, background-color $an-short;
  border: 2px solid $oc-gray-6;
  border-radius: .5rem;
  outline: none;
  background-color: $oc-gray-0;
  color: $oc-gray-6;

  &:focus,
  &:active {
    border-color: $oc-primary-6;
    background-color: $oc-primary-0;
  }

  &:valid {
    color: $oc-gray-9;
  }
}


// Labels //

.form-group {
  position: relative;
  margin-top: $sp-medium;
  margin-bottom: $sp-small;
}

.form-icon {
  position: absolute;
  top: .6rem;
  left: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: $oc-gray-6;
}

.form-hint {
  margin-top: $sp-small;
}

.form-error {
  color: $oc-red-6;

  + .form-input {
    border-color: $oc-red-6;
  }
}

.form-label {
  @extend %ts-app;

  position: absolute;
  top: 0;
}


// Highlighter //

.form-highlight {
  position: absolute;
  bottom: .5rem;
  left: 1rem;
  width: 33%;
  height: 1.25rem;
  opacity: 0.25;
  pointer-events: none;
}

// Active state

.form-input:focus ~ .form-highlight {
  animation: inputHighlighter $an-long;
}

// Animations

@keyframes inputHighlighter {
  from {
    background: $oc-primary-1;
  }

  to {
    width: 0;
    background: transparent;
  }
}
