/*
  LAYOUT

  Widths
  Positions
  Spacing
*/


// Widths //

.w1 {
  display: block;
  width: 100%;
  padding-right: $sp-small;
  padding-left: $sp-small;

  @media #{$bp-small} {
    width: (100% / 3);
  }
}

.w2 {
  display: block;
  width: 100%;
  padding-right: $sp-small;
  padding-left: $sp-small;

  @media #{$bp-small} {
    width: (100% / 1.5);
  }
}

.w3 {
  display: block;
  width: 100%;
  padding-right: $sp-small;
  padding-left: $sp-small;
  clear: both;
}

.w100 {
  display: block;
  width: 100%;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $sp-small;
  padding-left: $sp-small;

  @media #{$bp-small} {
    padding-right: $sp-large;
    padding-left: $sp-large;
  }
}


// Position //

.fl-left {
  float: left;
}

.fl-center {
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.fl-right {
  float: right;
}

.cf::after {
  display: table;
  clear: both;
  content: "";
}

.cl::after {
  display: table;
  clear: left;
  content: "";
}

.cr::after {
  display: table;
  clear: right;
  content: "";
}


// Spacing //

.ma0 {
  margin: 0;
}


.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: $sp-tiny;
}

.mt2 {
  margin-top: $sp-small;
}

.mt3 {
  margin-top: $sp-medium;
}

.mt4 {
  margin-top: $sp-large;
}

.mt5 {
  margin-top: $sp-huge;
}


.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: $sp-tiny;
}

.mb2 {
  margin-bottom: $sp-small;
}

.mb3 {
  margin-bottom: $sp-medium;
}

.mb4 {
  margin-bottom: $sp-large;
}

.mb5 {
  margin-bottom: $sp-huge;
}


.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv1 {
  margin-top: $sp-tiny;
  margin-bottom: $sp-tiny;
}

.mv2 {
  margin-top: $sp-small;
  margin-bottom: $sp-small;
}

.mv3 {
  margin-top: $sp-medium;
  margin-bottom: $sp-medium;
}

.mv4 {
  margin-top: $sp-large;
  margin-bottom: $sp-large;
}

.mv5 {
  margin-top: $sp-huge;
  margin-bottom: $sp-huge;
}


.pa0 {
  padding: 0;
}

.pa1 {
  padding: $sp-tiny;
}

.pa2 {
  padding: $sp-small;
}

.pa3 {
  padding: $sp-medium;
}

.pa4 {
  padding: $sp-large;
}

.pa5 {
  padding: $sp-huge;
}


.pr0 {
  padding-right: 0;
}

.pr1 {
  padding-right: $sp-tiny;
}

.pr2 {
  padding-right: $sp-small;
}

.pr3 {
  padding-right: $sp-medium;
}

.pr4 {
  padding-right: $sp-large;
}

.pr5 {
  padding-right: $sp-huge;
}


.pl0 {
  padding-left: 0;
}

.pl1 {
  padding-left: $sp-tiny;
}

.pl2 {
  padding-left: $sp-small;
}

.pl3 {
  padding-left: $sp-medium;
}

.pl4 {
  padding-left: $sp-large;
}

.pl5 {
  padding-left: $sp-huge;
}


.ph0 {
  padding-right: 0;
  padding-left: 0;
}

.ph1 {
  padding-right: $sp-tiny;
  padding-left: $sp-tiny;
}

.ph2 {
  padding-right: $sp-small;
  padding-left: $sp-small;
}

.ph3 {
  padding-right: $sp-medium;
  padding-left: $sp-medium;
}

.ph4 {
  padding-right: $sp-large;
  padding-left: $sp-large;
}

.ph5 {
  padding-right: $sp-huge;
  padding-left: $sp-huge;
}
