/*
  MEDIA

  Images
  SVG
  Videos
*/


// Images //

.img-responsive,
img[data-sizes="auto"] {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle; // Make sure images are scaled correctly.
}


// SVG //

.svg-small {
  width: $sp-small;
  height: $sp-small;
  margin-right: $sp-small;
  vertical-align: middle;
  fill: $oc-gray-6;

  a & {
    transition: fill $an-short, transform $an-short;

    &:hover,
    &:focus {
      transform: scale(1.1);
      fill: $oc-primary-6;
    }
  }
}
