/*
  CONTENT

  Hero
  Search
  Blogs
*/


.content {
  margin-top: $sp-large;
  margin-bottom: $sp-large;
}


// Hero //

.content-hero {
  margin-top: $sp-large;
  margin-bottom: $sp-large;

  @media #{$bp-small} {
    margin-top: $sp-huge;
    margin-bottom: $sp-huge;
  }
}


// Search //

.search {
  input {
    padding-left: 2.5rem;
  }

  .form-highlight {
    left: 2.5rem;
  }
}


// Blogs //

.college {
  display: block;

  .college-title {
    margin-top: 1.25rem;
  }
}

.college-body {
  @media #{$bp-small} {
    columns: 2;
    column-gap: $sp-medium;

    span {
      display: block;

      span {
        display: inline-block;
      }
    }
  }

  @media #{$bp-medium} {
    columns: 3;
  }
}

.college-year,
.college-blog {
  display: block;
  width: 100%;
}
