/*
  CONTENT

  Hero
  Text
  Search
  Blogs
*/


.content {
  margin-top: $sp-large;
  margin-bottom: $sp-large;
}


// Hero //

.content-hero {
  margin-top: $sp-large;
  margin-bottom: $sp-large;

  @media #{$bp-small} {
    margin-top: $sp-huge;
    margin-bottom: $sp-huge;
  }
}


// Text //

.content-text {
  > h1 {
    @extend %ts-header1;
  }

  > h2 {
    @extend %ts-header2;
  }

  > h3 {
    @extend %ts-header3;
  }

  > p {
    @extend %ts-body;
  }

  ul,
  ol {
    padding-left: 1rem;
  }

  > ol,
  > ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  li > ol,
  li > ul {
    padding-bottom: 0;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }
}


// Search //

.search {
  input {
    padding-left: 2.5rem;
  }

  .form-highlight {
    left: 2.5rem;
  }
}


// Blogs //

.college {
  display: block;

  .college-title {
    margin-top: 1.25rem;
  }
}

.college-body {
  @media #{$bp-small} {
    columns: 2;
    column-gap: $sp-medium;

    span {
      display: block;

      span {
        display: inline-block;
      }
    }
  }

  @media #{$bp-medium} {
    columns: 3;
  }
}

.college-year,
.college-blog {
  display: block;
  width: 100%;
}
