/*
  NAVIGATION

  General
  Metabar
  Footer
*/


// General //

.navigation-logo,
.navigation-name {
  display: inline-block;
  vertical-align: middle;

  svg,
  img {
    transition: fill $an-short, transform $an-long;
    vertical-align: middle;
    fill: $oc-gray-9;

    &:hover {
      fill: $oc-primary-6;
    }
  }
}

.navigation-logo {
  margin-right: $sp-small;

  svg,
  img {
    height: 2.25rem;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.navigation-name svg {
  height: 1.5rem;
}

.navigation-list {
  display: flex;

  @media #{$bp-small} {
    align-items: center;
    height: 2.25rem;
  }
}

.navigation-link {
  display: inline-block;
  padding-right: $sp-small;
  padding-left: $sp-small;

  @media #{$bp-small-only} {
    width: 100%;
    padding: $sp-tiny;
    border-bottom: 2px solid transparent;
    text-align: center;
  }

  .link {
    color: $oc-gray-6;
    font-family: $ff-sans;
    font-size: 16px;
    letter-spacing: $ls-small;

    @media #{$bp-small} {
      font-size: 18px;
    }

    &:hover,
    &:focus {
      color: $oc-primary-6;
    }
  }

  &.navigation-active {
    @media #{$bp-small-only} {
      border-bottom: 2px solid $oc-primary-6;
    }

    .link {
      color: $oc-primary-6;
    }
  }
}


// Metabar //

.metabar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: $sp-large;
  background-color: $oc-white;
  z-index: 9999;

  @media #{$bp-small-only} {
    padding-top: $sp-small;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  }
}

.metabar-brand {
  padding-right: $sp-small;
  padding-left: $sp-small;
}

@media #{$bp-small-only} {
  .headroom {
    position: fixed;
    transition: transform $an-long;
    will-change: transform;
  }

  .headroom--pinned {
    transform: translateY(0%);
  }

  .headroom--unpinned {
    transform: translateY(-55%);
  }
}

.metabar-navigation {
  @media #{$bp-small-only} {
    width: 100%;
    padding-top: $sp-tiny;
    padding-right: $sp-small;
    padding-left: $sp-small;
  }
}


// Footer //

@media #{$bp-small-only} {
  .footer {
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .footer-navigation {
    display: none;
  }

  .footer-logo {
    width: auto;
  }
}

.footer-links {
  padding-top: $sp-medium;
  padding-bottom: $sp-medium;
}

.footer-legal {
  border-top: 1px solid $oc-gray-1;
}

.footer-copyright {
  color: $oc-gray-4;

  .link {
    color: inherit;

    &:hover,
    &:focus {
      color: $oc-primary-6;
    }
  }
}
