// ==== NAVIGATION ==== //

// Style the navigation here.

// 1. General
// 2. Turbolinks
// 3. Metabar

// 1. General //

.nav {
  display: block;
  list-style: none;
}

.nav-link {
  color: palette(gray);
  font-family: $sans;
  font-size: $fs--1;
  font-weight: $sans-semibold;
  letter-spacing: .5px;

  a {
    transition: color $short;
    color: palette(gray);

    &:hover,
    &:focus {
      color: palette($primary);
    }
  }

  .nav-active {
    color: palette($primary);
  }
}

// 2. Turbolinks //

.turbolinks-progress-bar {
  height: 4px;
  background-color: palette($primary);
}

// 3. Metabar //

.metabar-toggle {
  display: none;
}

.metabar-label {
  display: none;

  @include mappy-query(phone) {
    display: block;
    height: 40px;
    cursor: pointer;

    span {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9999999;

      &::before {
        @include font(app);

        font-size: $fs-0;
        letter-spacing: 1px;
        text-transform: uppercase;
        content: "Menu";
      }

      .metabar-toggle:checked + &::before {
        content: "Close";
      }
    }
  }
}

.metabar-nav {
  @include mappy-query(phone) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    transform: translateY(-2rem);
    transition: transform $long, opacity $long, visibility $long;
    background-color: transparentize(palette(white), .05);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    .metabar-toggle:checked ~ & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .nav {
      position: absolute;
      top: 50%;
      width: calc(100% - 4rem);
      transform: translateY(-50%);
      text-align: center;
    }

    .nav-link {
      @include font(title);

      display: block;
      margin: 1rem 0;
    }
  }

  @include mappy-query(tablet) {
    .nav {
      text-align: right;
    }

    .nav-link {
      display: inline-block;
      height: 40px;
      margin-left: 2rem;
      padding: 0;
      vertical-align: bottom;
    }
  }
}
