<figure>
  {% for image in block.image %}
    {% if lazyImage %}
      <img class="lazyload"
           src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
           data-sizes="auto"
           data-srcset="{{ image.getUrl('large16x9') }} {{ image.getWidth('large16x9') }}w, {{ image.getUrl('medium16x9') }} {{ image.getWidth('medium16x9') }}w, {{ image.getUrl('small16x9') }} {{ image.getWidth('small16x9') }}w"
           alt="{{ image.title }}">
    {% else %}
      <img class="img-responsive"
           src="{{ image.getUrl('medium') }}"
           sizes="(min-width: 56.25em) 60vw, 95vw"
           srcset="{{ image.getUrl('large') }} {{ image.getWidth('large') }}w, {{ image.getUrl('medium') }} {{ image.getWidth('medium') }}w, {{ image.getUrl('small') }} {{ image.getWidth('small') }}w"
           alt="{{ image.title }}">
    {% endif %}
  {% endfor %}
  {% if block.caption | length %}
  <figcaption class="mv2 ts-app ta-center">
    {{ block.caption }}
  </figcaption>
  {% endif %}
</figure>
