{#
 # Page entry template
 # -------------------
 #
 # See this entry for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}


{% block main %}
  {% cache %}
  {% minify %}

  <article class="l-ctnr">

    {# -- HEADER -- #}
    <header class="c-header l-w100">
      <h1 class="c-header__title c-header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
      <h2 class="c-header__subtitle">{{ helpers.striptags(entry.description) }}</h2>

      {% set image = entry.image.one() %}
      {% if image %}
        <figure class="c-header__image">
          {{ elements.image(image) }}
        </figure>
      {% endif %}
    </header>



    {# -- CONTENT -- #}
    <div class="c-blocks l-w100">
      <div class="c-block__text">
        {{ entry.body }}
      </div>
    </div>

    {# -- GOOGLE ADSENSE -- #}
    <div class="l-w100">
      <ins v-if="((index % 3) == 0)"
           class="adsbygoogle"
           style="display:block;margin:2rem 0;"
           data-ad-client="ca-pub-4242118293341339"
           data-ad-slot="2717711005"
           data-ad-format="auto"></ins>
    </div>
  </article>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    [].forEach.call(document.querySelectorAll('.adsbygoogle'), function(){
      (adsbygoogle = window.adsbygoogle || []).push({});
    });
  </script>

  {% endminify %}
  {% endcache %}
{% endblock %}
