{#
 # Site Footer include template
 # --------------------------------
 #
 # This template is used to output HTML for the site footer.
 #
 # An `entry` variable is expected to be defined.
-#}


{% block footer %}
{% cache %}
{% spaceless %}

  {# Define the footer navigation #}
  {% set footerNav = {
    "Creating": "https://connorbaer.co/creating",
    "Writing":  "https://connorbaer.co/writing",
    "Eating":   "https://connorbaer.co/eating"
  } %}

  <footer id="footer" class="footer">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <a class="metabar-logo" href="http://madebyconnor.io/#" {% if craft.request.url == 'http://madebyconnor.io' %}data-scroll{% else %}target="_blank" rel="noopener noreferrer"{% endif %} aria-label="Visit 'Made by Connor'" title="Made by Connor">
        {% include '_includes/site/logo.svg' %}
        </a>
      </div>
      <div class="footer-navigation">
        <div class="footer-links">
          <h4 class="footer-title">{{ siteName }}</h4>
          <nav>

            {% include '_includes/site/navigation' %}

          </nav>
        </div>
        <div class="footer-links">
          <h4 class="footer-title">More by Connor</h4>
          <nav>
            <ul class="nav">

              {% for item, url in footerNav %}
                <li class="nav-link">
                  <a href="{{ url(url) }}" target="_blank" rel="noopener noreferrer" aria-label="{{ item }}">{{ item }}</a>
                </li>
              {% endfor %}

            </ul>
          </nav>
        </div>
      </div>

      {% set siteAuthor = globals.siteAuthor.first() %}

      <h6 class="footer-text">© {{ now.year }} <a href="https://twitter.com/{{ globals.siteTwitter }}" aria-label="Follow {{ siteAuthor.fullName }} on Twitter.">{{ siteAuthor.fullName }}</a>. All rights reserved.</h6>
    </div>
  </footer>
{% endspaceless %}
{% endcache %}
{% endblock %}
