{% block seo %}

  {% set seoDescription = globals.siteDescription %}
  {% set seoImage = globals.siteLogo.first() %}
  {% set seoTwitter = globals.siteTwitter %}

  {% if description is defined %}
    {% set seoDescription = description | striptags %}
  {% endif %}
  {% if image is defined %}
    {% set seoImage = image %}
  {% endif %}

  <title>{% if title is defined %}{{ title }} · {% endif %}{{ siteName }}</title>

  {% if seoDescription %}
    <meta name="description" content="{{ seoDescription }}" />
  {% endif %}

  {# Twitter #}
  <meta name="twitter:card" content="summary" />
  {% if seoTwitter %}
    <meta name="twitter:site" content="{{ seoTwitter }}" />
  {% endif %}
  <meta name="twitter:title" content="{% if title is defined %}{{ title }} · {% endif %}{{ siteName }}" />
  {% if seoDescription %}
    <meta name="twitter:description" content="{{ seoDescription }}" />
  {% endif %}
  {% if seoImage %}
    <meta property="twitter:image" content="{{ seoImage.url }}" />
  {% endif %}

  {# Facebook #}
  <meta property="og:site_name" content="{{ siteName }}" />
  <meta property="og:title" content="{% if title is defined %}{{ title }} · {% endif %}{{ siteName }}" />
  <meta property="og:url" content="{{ siteUrl }}{{ craft.request.getPath() }}" />
  {% if seoImage %}
    <meta property="og:image" content="{{ seoImage.url }}" />
  {% endif %}
  {% if seoDescription %}
    <meta property="og:description" content="{{ seoDescription }}" />
  {% endif %}
  <meta property="og:type" content="website" />

{% endblock %}
