// ==== BASIC STYLES ==== //

/* Update the foundational and global aspects of the page here. */

html {
  @include typi-base();
  font-family: $sans;
  font-weight: $sans-normal;
  word-wrap: break-word;
  background-color: palette(gray, darker);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: palette(gray, darker);
  background-color: #fff;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}