// ==== COLORS ==== //

/* 
 * Set all colors related things here.
 */

/* 
 * 1. Base colors
 * 2. Color transformations
 * 3. palette()
 */


// 1. Base colors //

$base-blue: #007ACC;
$base-turquoise: #21A7Ac;

$base-purple: #741669;
$base-pink: #DA1884;
$base-orange: #FF512F;
$base-red: red;

$factor-lighter: 49%;
$factor-light: 7%;
$factor-dark: 5%;
$factor-darker: 28%;

$primary: blue;
$secondary: turquoise;



// 2. Color transformations //

/*
 * Sass map for the color palette; see `_library.scss` for the palette() function. 
 */
$_palettes: (
    blue: (
        lighter: lighten($base-blue, $factor-lighter),
        base:  $base-blue,
        light: lighten($base-blue, $factor-light),
        dark:  darken($base-blue, $factor-dark),
        darker: darken($base-blue, $factor-darker)
    ),
    turquoise: (
        lighter: lighten($base-turquoise, $factor-lighter),
        base:  $base-turquoise,
        light: lighten($base-turquoise, $factor-light),
        dark:  darken($base-turquoise, $factor-dark),
        darker: darken($base-turquoise, $factor-darker)
    ),
    purple: (
        lighter: lighten($base-purple, $factor-lighter),
        base:  $base-purple,
        light: lighten($base-purple, $factor-light),
        dark:  darken($base-purple, $factor-dark),
        darker: darken($base-purple, $factor-darker)
    ),
    pink: (
        base:  $base-pink,
        lighter: lighten($base-pink, $factor-lighter),
        light: lighten($base-pink, $factor-light),
        dark:  darken($base-pink, $factor-dark),
        darker: darken($base-pink, $factor-darker)
    ),
    orange: (
        lighter: lighten($base-orange, $factor-lighter),
        base:  $base-orange,
        light: lighten($base-orange, $factor-light),
        dark:  darken($base-orange, $factor-dark),
        darker: darken($base-orange, $factor-darker)
    ),
    red: (
        lighter: lighten($base-red, $factor-lighter),
        base:  $base-red,
        light: lighten($base-red, $factor-light),
        dark:  darken($base-red, $factor-dark),
        darker: darken($base-red, $factor-darker)
    ),
    gray: (
        base:    #666,
        lighter: #F5F5F5,
        light:   #CCC,
        dark:    #333,
        darker:  #1A1A1A
    ),
    white: (
        base:    #fff,
        light:   #fff,
        dark:    #fff
    )
);



// 3. palette() //

/* 
 * A simple function to retrieve a color from the palette.
 * Adapted from http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/ 
 */
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($_palettes, $palette), $tone);
}