// ==== CONTENT ==== //

/* Style the page and post content here. */

/* 
 * 1. 404
 */



// 1. 404 //

.content-header {
	padding-top: vr(6);
	padding-bottom: vr(2);
	.header-icon {
		display: block;
		margin: 0 auto;
		width: 25%;
		height: 25%;
		fill: url(#icon-gradient);
	}
}

.link {
	@include link-underline();
	color: palette(gray, dark);
}
