<article class="content page">
  <header class="hero">
    <h1 class="hero-title">{% if entry.description %}{{ entry.description }}{% else %}{{ entry.title }}{% endif %}</h1>
    {% if entry.image %}
      <div class="hero-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ entry.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ entry.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ entry.ref }}-large.jpg') 2x )"></div>
    {% endif %}
  </header>

  <div class="content-style">
    {{ content }}

    {% include('./_includes/snippets/share.html') %}
  </div>
</article>
