{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “newsletter/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this entry for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}

{% set title = entry.title %}
{% set description = entry.description %}
{% if entry.image %}
  {% set image = entry.image.first() %}
{% endif %}


{% block schema %}
  {% set author = entry.author ? entry.author : globals.siteAuthor.first() %}
  {% set logo = globals.siteLogo.first %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "@id": "{{ url(entry.url) }}",
      "headline": "{% if title is defined %}{{ title }} · {% endif %}{{ siteName }}",
      "description": "{{ entry.description | striptags }}",
      "datePublished": "{{ entry.postDate.w3c }}",
      "dateModified": "{{ entry.dateUpdated.w3c }}",
      {% if image %}
      "image": {
        "@type": "ImageObject",
        "author": "{{ author.name }}",
        "contentUrl": "{{ image.url }}",
        "url": "{{ siteUrl }}{{ image.url }}",
        "datePublished": "{{ image.dateCreated.w3c }}",
        "name": "{{ image.title }}",
        "height": "{{ image.height }}",
        "width": "{{ image.width }}"
      },
      {% endif %}
      "author": {
        "@type": "Person",
        "name": "{{ author.name }}",
        "givenName": "{{ author.firstName }}",
        "familyName": "{{ author.lastName }}",
        "email": "{{ author.email }}"{% if author.photoUrl %},
        "image": "{{ url(author.photoUrl) }}"{% endif %}
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ siteName }}",
        "description": "{{ globals.siteDescription }}",
        "logo": {
          "@type": "ImageObject",
          "author": "{{ globals.siteAuthor.first().name }}",
          "contentUrl": "{{ logo.url }}",
          "url": "{{ siteUrl }}{{ logo.url }}",
          "datePublished": "{{ logo.dateCreated.w3c }}",
          "name": "{{ logo.title }}"
        }
      }
    }
  </script>
{% endblock %}


{% block links %}
  {{ parent() }}

  <link rel="amphtml" href="{{ entry.url }}/amp">
{% endblock %}


{% block body %}

  <article class="post serif">


    {% block hero %}
      <header class="hero">
        <h1 class="hero-title">{{ title }}</h1>

        {{ elements.date(entry.postDate) }}

        {{ elements.heroImage(image, entry.heroImage) }}

      </header>
    {% endblock %}


    <div class="content content-style">
      {% set author = entry.author ? entry.author : globals.siteAuthor.first() %}
      {% if author %}
      <aside class="content-author">
        <a href="mailto:{{ author.email }}" aria-label="Send {{ author.name }} a message.">
          <div class="author-image" style="background-image: url('{{ author.photoUrl }}')"></div>
        </a>
        <div class="author-text">
          <h4><a href="mailto:{{ author.email }}" aria-label="Send {{ author.name }} a message.">{{ author.name }}</a></h4>
          <p>{{ globals.siteDescription }}</p>
        </div>
      </aside>
      {% endif %}

      {# {{ entry.body }} #}

      {{ elements.share(title) }}

      {% if entry.next %}
      <aside class="content-next">
        <article class="next-post">
          <h4 class="next-header">Next Post</h4>
          {% if entry.next.image %}
          <div class="next-image" style="background-image: url('{{ entry.next.image.first().url }}')"></div>
          {% endif %}
          <h5 class="next-title"><a href="{{ entry.next.url }}">{{ entry.next.title }}</a></h5>
        </article>
      </aside>
      {% endif %}

    </div>
  </article>

{% endblock %}
