{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this entry for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% block content %}

  <article class="content post serif">
    <header class="hero">
      <h1 class="hero-title">{{ entry.title }}</h1>
      {% include('./_includes/date.html') %}

      {{ entry.heroImage | raw }}

    </header>

    <div class="content-style">
      <aside class="content-author">
        {% if page.author %}
          <a {% if page.author.url %}href="{{ page.author.url }}"{% endif %} target="_blank" rel="noopener noreferrer" aria-label="Follow @{{ page.author.url }} on url.">
            <div class="author-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.author.image }}-small.jpg')"></div>
          </a>
          <div class="author-text">
            <h4><a {% if page.author.url %}href="{{ page.author.url }}"{% endif %} target="_blank" rel="noopener noreferrer" aria-label="Follow @{{ page.author.url }} on url.">{{ page.author.name }}</a></h4>
            <p>{{ page.author.bio }}</p>
          </div>
        {% elsif site.author %}
          <a {% if site.author.url %}href="{{ site.author.url }}"{% endif %} target="_blank" rel="noopener noreferrer">
            <div class="author-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ site.author.image }}-small.jpg')"></div>
          </a>
          <div class="author-text">
            <h4><a {% if site.author.url %}href="{{ site.author.url }}"{% endif %} target="_blank" rel="noopener noreferrer">{{ site.author.name }}</a></h4>
            <p>{{ site.author.bio }}</p>
          </div>
        {% endif %}
      </aside>

      {{ entry.body }}

      {% include('./_includes/share.html') %}

      {% if entry.next %}
      <aside class="content-next">
        <article class="next-post">
          <h4 class="next-header">Next Post</h4>
          {% if entry.next.image %}
          <div class="next-image" style="background-image: url('{{ entry.next.image.first().url }}')"></div>
          {% endif %}
          <h5 class="next-title"><a href="{{ entry.next.url }}">{{ entry.next.title }}</a></h5>
        </article>
      </aside>
      {% endif %}

    </div>
  </article>

{% endblock %}
