{#
 # 404 template
 # ------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block main %}
	<article>
		<header class="l-ctnr l-flex l-flex--center">
			<div class="c-header l-w100">
				<h1 class="c-header__title c-header__title--color">Page not found.&nbsp;🕵&nbsp;️</h1>
				<p class="c-header__subtitle">What’s worse, a hilarious 404 page can’t be found either.</p>
			</div>

      <figure class="c-header__image">
        <img class="o-image"
						 src="https://source.unsplash.com/collection/666969/1000x1000"
						 alt="A random image from Unsplash.com">
      </figure>
		</header>
	</article>
{% endblock %}
