{#
 # Homepage template
 # -----------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}


{% block head %}
  {{ parent() }}

  {# VUEJS #}
  <script>
    loadjs(['{{ baseUrl ~ rev('js/vue.min.js') }}'], 'vue');
  </script>
{% endblock %}


{% block main %}
  {% cache %}
  {% minify %}

  <article class="l-ctnr">

    {# -- HEADER -- #}
    <header class="c-header l-w100">
      <h1 class="c-header__title c-header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
      <h2 class="c-header__subtitle">A collection of {{ craft.entries.section('blogs').count() }} blogs written by UWC students in {{ craft.tags.group('blogLanguages').count() }} languages from {{ craft.tags.group('blogCountries').count() }} countries at the {{ craft.categories.group('colleges').count() }} United World Colleges.</h2>

      {% set image = entry.image.one() %}
      {% if image %}
        <figure class="c-header__image">
          {{ elements.image(image) }}
        </figure>
      {% endif %}

    </header>

    {# -- SEARCH FILTER -- #}
    <div class="l-w100">
      <fieldset class="c-input">
        <label class="c-input__label" for="search">Enter a college, year, country, language, or name:</label>
        <input id="search" class="c-input__input" v-model="search" type="search" placeholder="Type to filter the blogs..." autocomplete="off" required/>
        <span class="c-input__highlight"></span>
      </fieldset>
    </div>


    {# -- VUEJS -- #}
    <div class="c-blogs l-w100" v-cloak>
      <div v-for="(college, index) in filteredBlogs">
        <h3 :id="slugify(college.college)" class="c-blog__college"><a class="t-link" :href="slugify(college.college)">[[ college.college ]]</a></h3>
        <div v-for="blog in college.blogs">
          <span class="c-blog">
            <a class="c-blog__firstname" :href="blog.url" target="_blank" rel="noopener noreferrer" class="link name">[[ blog.firstName ]]</a> <span class="c-blog__countries">[[ blog.countries ]]</span><span v-if="(blog.countries.length && blog.languages.length)"> - </span><span class="c-blog__languages">[[ blog.languages ]]</span>
          </span>
        </div>

        {# -- GOOGLE ADSENSE -- #}
        <ins v-if="((index % 4) == 0)"
             class="adsbygoogle"
             style="display:block;margin:2rem 0;"
             data-ad-client="ca-pub-4242118293341339"
             data-ad-slot="2717711005"
             data-ad-format="auto"></ins>
      </div>
    </div>

    {# -- SHARE -- #}
    {% include '_includes/components/share' %}

  </article>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    [].forEach.call(document.querySelectorAll('.adsbygoogle'), function(){
      (adsbygoogle = window.adsbygoogle || []).push({});
    });
  </script>

  {% endminify %}
  {% endcache %}
{% endblock %}
