{#
 # Homepage template
 # ---------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}


{% block head %}
  {{ parent() }}

  {# VUEJS #}
  <script>
    loadjs(['{{ baseUrl ~ rev('js/vue.min.js') }}'], 'vue');
  </script>
{% endblock %}


{% block main %}
  {% cache %}
  {% minify %}

  <article class="l-ctnr">

    {# -- HEADER -- #}
    <header class="c-header l-w100">
      <h1 class="c-header__title c-header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
      <h2 class="c-header__subtitle">A collection of {{ craft.entries.section('blogs').count() }} blogs written by UWC students in {{ craft.tags.group('blogLanguages').count() }} languages from {{ craft.tags.group('blogCountries').count() }} countries at the {{ craft.categories.group('colleges').count() }} United World Colleges.</h2>

      {% set image = entry.image.one() %}
      {% if image %}
        <figure class="c-header__image">
          {{ elements.image(image) }}
        </figure>
      {% endif %}

    </header>

    <div class="l-w100">
      <fieldset class="c-input">
        <label class="c-input__label" for="js-search">Enter a college, year, country, language, or name:</label>
        <input class="c-input__input" v-model="search" type="search" name="search" placeholder="Type to filter the blogs..." autocomplete="off" required/>
        <span class="c-input__highlight"></span>
      </fieldset>
    </div>


    {# -- VUEJS -- #}
    <div class="c-blogs l-w100">
      <div v-for="college in filteredBlogs">
        <h3 :id="(college.college.replace(/\s+/g, '-').toLowerCase())" class="c-blog__college">[[ college.college ]]</h3>
        <div v-for="blog in college.blogs">
          <span class="c-blog" :data-year="blog.year">
            <a class="c-blog__firstname" :href="blog.url" target="_blank" rel="noopener noreferrer" class="link name">[[ blog.firstName ]]</a> <span class="c-blog__countries">[[ blog.countries ]]</span><span v-if="(blog.countries.length && blog.languages.length)"> - </span><span class="c-blog__languages">[[ blog.languages ]]</span>
          </span>
        </div>
      </div>
    </div>

    {# -- SHARE -- #}
    {% include '_includes/components/share' %}

  </article>

  {% endminify %}
  {% endcache %}
{% endblock %}
