{#
 # Offline template
 # ------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block main %}
	<article>
		<header class="l-ctnr l-flex l-flex--center">
      <div class="c-header l-w100">
				<h1 class="c-header__title c-header__title--color">You’re offline.&nbsp;⚡️&nbsp;</h1>
				<p class="c-header__subtitle">It seems that you’re no longer connected to the internet. Check your connection and try again.</p>
			</div>

			<figure class="c-header__image">
        <svg class="o-image" role="img" aria-labelledby="offline-title" viewBox="0 0 400 300" xmlns="http://www.w3.org/2000/svg"><title id="offline-title">Offline</title><g fill="none" fill-rule="evenodd"><path fill="#D8D8D8" d="M0 0h400v300H0z"/><text fill="#9B9B9B" font-family="Helvetica Neue,Arial,Helvetica,sans-serif" font-size="72" font-weight="bold"><tspan x="93" y="172">offline</tspan></text></g></svg>
      </figure>
		</header>
	</article>
{% endblock %}
