// Buttons
// -------
.o-button,
[role="button"] {
  @include typi("s1");
  @include t-uppercase;

  display: inline-block;

  padding: vr(.4) vr(.8);

  transition: transform $an-medium, border-color $an-medium, box-shadow $an-medium, background-color $an-medium;

  border: 2px solid oc(primary);
  border-radius: 4px;
  outline: none;

  background-color: oc(primary);
  color: $oc-white;

  line-height: 1;

  box-shadow: 0 2px 4px rgba(0, 0, 0, .06);
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translateY(.5px);

    border-color: oc(primary, 5);

    background-color: oc(primary, 5);

    box-shadow: none;
  }

  svg {
    fill: $oc-white;
  }
}

.o-button--ghost {
  transition: background-color $an-medium;

  background-color: transparent;
  color: oc(primary);

  &:hover,
  &:focus {
    background-color: oc(primary, 5);
    color: $oc-white;

    svg {
      fill: $oc-white;
    }
  }

  svg {
    fill: oc(primary);
  }
}
