// Choices
// -------
$choices-selector: "choices";
$choices-font-size-lg: 1.25rem;
$choices-font-size-md: 1rem;
$choices-font-size-sm: .75rem;
$choices-guttering: vr(1);
$choices-border-radius: 2px;
$choices-border-radius-item: 4px;
$choices-bg-color: var(--oc-white);
$choices-bg-color-disabled: $oc-gray-4;
$choices-bg-color-dropdown: var(--oc-white);
$choices-text-color: #333;
$choices-keyline-color: $oc-gray-6;
$choices-primary-color: oc(primary);
$choices-disabled-color: $oc-gray-4;
$choices-highlight-color: $choices-primary-color;
$choices-button-dimension: .5rem;
$choices-button-offset: .5rem;


// Choices: A vanilla JS customisable select box/text input plugin, from https://github.com/jshjohnson/Choices/.
@import "lib/choices";


.#{$choices-selector}[data-type*="select-one"] {
  .#{$choices-selector}__inner {
    padding-top: 0;
    padding-bottom: 0;
  }

  .#{$choices-selector}__input {
    padding: .5rem .75rem;

    border-bottom: 2px solid $choices-keyline-color;
  }
}

.#{$choices-selector}[data-type*="select-multiple"],
.#{$choices-selector}[data-type*="text"] {
  .#{$choices-selector}__button {
    border-left: 2px solid darken($choices-primary-color, 10%);
  }
}

.#{$choices-selector}__inner {
  min-height: 0;

  padding: 0;

  border: 0;

  font-family: $ff-sans;
}

.#{$choices-selector}__list--single {
  padding: 0 16px 0 0;
}

.#{$choices-selector}__list--multiple {
  .#{$choices-selector}__item {
    margin-right: .25rem;
    margin-bottom: .25rem;
    padding: 0 .5rem;

    border: 2px solid $oc-gray-4;

    background-color: $oc-gray-2;
    color: $oc-gray-9;

    &.is-highlighted {
      border: 2px solid oc(primary);

      background-color: $oc-gray-2;
    }

    .is-disabled & {
      border: 2px solid darken($choices-disabled-color, 35%);
    }
  }
}

.#{$choices-selector}__list--dropdown {
  margin-top: -2px;

  border: 2px solid $choices-keyline-color;

  .is-open & {
    border-color: oc(primary);
  }

  .is-flipped & {
    margin-bottom: -2px;
  }

  .#{$choices-selector}__item {
    padding: .25rem .75rem;

    font-family: $ff-sans;
    font-size: $choices-font-size-md;
    font-weight: $fw-normal;
  }

  .#{$choices-selector}__item--selectable {
    @media (min-width: 640px) {
      padding-right: 6rem;

      &::after {
        right: .5rem;
      }
    }
  }
}

.#{$choices-selector}__heading {
  padding: .5rem;

  border-bottom: 2px solid lighten($choices-keyline-color, 10%);
}

.#{$choices-selector}__input {
  background-color: $oc-white;

  font-family: $ff-sans;
}

.is-focused ~ .form-label,
.is-open ~ .form-label {
  color: oc(primary);
}


// Input
// ----
.c-input {
  display: inline-block;
  position: relative;

  width: 100%;

  margin-top: vr(.25);
  margin-bottom: vr(.25);
  padding: vr(.5) vr(1);

  border: 1px solid var(--oc-gray-4);
  border-radius: 4px;

  background-color: var(--oc-white);

  box-shadow: 0 2px 4px rgba(0, 0, 0, .06);

  .c-form--error & {
    border-color: $oc-red-6;
  }
}


// Text
// ----
.c-input__text,
input[type="text"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"] {
  @include typi("t1");

  display: block;

  width: 100%;

  padding: 0;

  transition: border-color $an-short;

  border: 0;
  outline: none;

  background-color: var(--oc-white);
  color: var(--oc-gray-9);

  font-family: $ff-sans;

  resize: none;

  // Active state

  &:focus {
    border-color: oc(primary);
    outline: none;

    ~ .c-form-icon {
      fill: oc(primary);
    }

    ~ .c-form-label {
      color: oc(primary);
    }
  }
}

// Textarea
// --------
.c-input__textarea,
input[type="textarea"] {
  @include typi("s0");

  display: block;

  width: 100%;

  padding: 0;

  transition: border-color $an-short;

  border: 0;
  outline: none;

  background-color: var(--oc-white);
  color: var(--oc-gray-9);

  font-family: $ff-sans;

  resize: none;
}


// Select
// ------
.c-input__select,
input[type="select"] {
  display: block;

  width: 100%;
  height: 2.25rem;

  margin: 2rem 0 .25rem;
  padding: .25rem 1rem;

  transition: border-color $an-short, background-color $an-short;

  border: 2px solid var(--oc-gray-6);
  border-radius: .5rem;
  outline: none;

  background-color: var(--oc-gray-0);
  color: var(--oc-gray-6);

  &:focus,
  &:active {
    border-color: oc(primary);

    background-color: oc(primary, 0);
  }

  &:valid {
    color: var(--oc-gray-9);
  }
}


// Highlight
// ---------
.c-input__highlight {
  position: absolute;
  bottom: vr(.5);
  left: vr(1);

  width: 50%;
  height: vr(1.5);

  opacity: .25;

  pointer-events: none;
}

.c-form__input:focus ~ .c-form__highlight {
  animation: inputHighlighter $an-long;
}

@keyframes inputHighlighter {
  from {
    background: oc(primary, 2);
  }

  to {
    width: 0;

    background: transparent;
  }
}


// Labels
// ------
.c-input__label,
.c-input__error {
  @include typi("s1");

  display: block;

  color: var(--oc-gray-6);
}

.c-input__error {
  display: none;

  color: $oc-red-6;

  .c-form--error & {
    display: block;
  }
}
