// Images
// ------
.o-image,
img[data-sizes="auto"] {
  display: block;

  width: 100%;
  height: auto;

  vertical-align: middle; // NOTE: Make sure images are scaled correctly.
}


// SVG
// ---
.o-svg {
  width: vr(.75);
  height: vr(.75);

  vertical-align: middle;

  fill: var(--oc-gray-6);

  a & {
    transition: fill $an-short, transform $an-short;

    &:hover,
    &:focus {
      transform: scale(1.1);

      fill: oc(primary);
    }
  }
}
