<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  <script src="https://use.typekit.net/bau4wqy.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  	{% unless site.navigation == false %}
  		{% include navigation.html %}
    {% endunless %}

    {% include sidebar.html %}

    <div class="content container">
		{{ content }}

	<footer>The <a href="http://skye.connorbaer.io">Skye</a> theme <a href="https://github.com/connor-baer/skye">v{{ site.version }}</a>. &copy; {{ site.time | date: '%Y' }}. All rights reserved. Created and maintained by <a href="http://connorbaer.io/">Connor Bär</a>.</footer>

    {% include analytics.html %}
  </body>
</html>
