// Base
// ----
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;

  border: 0;

  font: inherit;
  font-size: 100%;

  vertical-align: baseline;
}

// HTML5 display-role reset for older browsers.
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@include typi-init;

html {
  @include mappy-bp(max-width 350px) {
    font-size: 87.5%;
  }

  transition: background-color $an-short, color $an-short;

  background-color: var(--oc-gray-8);
  color: var(--oc-gray-9);

  font-family: Arial, sans-serif;

  word-wrap: break-word;
  box-sizing: border-box;

  &.fonts-loaded {
    font-family: $ff-sans;
  }
}

*,
*::before,
*::after {
  // Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/.
  box-sizing: inherit;
}

body {
  position: relative;

  max-width: 100vw;
  min-height: 100vh;

  transition: background-color $an-short;

  background-color: var(--oc-white);

  overflow-x: hidden;
}

[v-cloak] {
  display: none !important;
}

a {
  border: 0;

  color: inherit;

  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin-top: vr(1);
  margin-bottom: vr(1.25);

  border: 0;

  &::before {
    display: block;

    height: 2px;

    background-color: var(--oc-gray-3);

    content: "";
  }
}

textarea {
  resize: vertical;
}

dfn,
i,
em,
.em {
  font-style: italic;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: $ff-mono;
}

abbr,
acronym {
  border-bottom: 1px dotted $oc-gray-3;

  cursor: help;
}

mark {
  padding: .125em .25em;

  background: $oc-orange-3;
  color: #fff;

  text-decoration: none;
}

big {
  font-size: 125%;
}

time {
  display: inline-block;
}
