{#
 # Article Hero include template
 # --------------------------------
 #
 # This template is used to output HTML for the "Title" and "Image" fields.
 #
 # An `entry` variable is expected to be defined.
-#}

{% block hero %}
  {% set heroTitle = title is defined ? description : title %}

  <header class="hero">
    <h1 class="hero-title">{{ heroTitle }}</h1>

    {% if sub is defined and date is defined %}
      {% include '_includes/snippets/' ~ sub with date %}
    {% elseif sub is defined %}
      {% include '_includes/snippets/' ~ sub %}
    {% endif %}

    {% if not craft.request.isLivePreview and entry.heroImage %}
      {{ entry.heroImage | raw }}
    {% elseif entry.image.first() %}
      {% set image = entry.image.first() %}
      <img class="hero-image"
           src="{{ image.url }}"
           alt="{{ image.title }}">
    {% endif %}

  </header>
{% endblock %}
